{%extends 'base.html'%}
{%load static%}

{%block content%}
<div class="container">
    <div class="input"></div>
    <div class="buttons">
    <button class="operator ac" data-value="AC">AC</button>
    <button class="operator del" data-value="DEL">DEL</button>
    <button class="operator" data-value="%">%</button>
    <button class="operator" data-value="/">/</button>
    <button data-value="7">7</button>
    <button data-value="8">8</button>
    <button data-value="9">9</button>
    <button class="operator" data-value="*">*</button>
    <button data-value="4">4</button>
    <button data-value="5">5</button>
    <button data-value="6">6</button>
    <button class="operator" data-value="-">-</button>
    <button data-value="1">1</button>
    <button data-value="2">2</button>
    <button data-value="3">3</button>
    <button class="operator" data-value="+">+</button>
    <button data-value="0">0</button>
    <button data-value="00">00</button>
    <button data-value=".">.</button>
    <button class="equal" data-value="=">=</button>
    </div>
</div>
<link rel="shortcut icon" href="{%static 'calculator_app2\icon\Calculator.ico'%}" type="image/x-icon">
<link rel="stylesheet" href="{%static 'calculator_app2/css/calculator.css'%}">
<script type="text/javascript" src="{%static 'calculator_app2/js/calculator.js'%}"></script>
{%endblock%}
